.checkbox {
  display: none;
  &:checked ~ .checkbox__name:before {
    background-image: url("../../img/icons/checkboxChecked.svg");
  }
}

.checkbox__name {
  display: flex;
  &:before {
    content: "";
    display: block;
    flex-shrink: 0;
    // vertical-align: middle;
    width: 19px;
    height: 19px;
    background-image: url("../../img/icons/checkbox.svg");
    background-repeat: no-repeat;
    background-size: contain;
    // background-position: 40% 40%;
    margin-right: 14px;
    transform: translate(0, -10%);
    @media (max-width: 767px) {
      margin-right: 14px;
      transform: translate(0, 7%);
    }
    @media (min-width: 768px) and (max-width: 1399px) {
      margin-right: 16px;
    }
    &:hover {
      text-decoration: underline black;
    }
  }
}
