/* Стилизация Popup "Contact_us" */

.contact-form {
  max-width: 680px;
  width: 100%;
  background-color: #e5eaf8;
  box-sizing: border-box;
  padding: 42px 40px;
  font-size: 14px;
  line-height: 19px;
  flex-shrink: 0;
}

.contact-form__field {
  margin-top: 3px;
  display: block;
  width: 100%;
  height: 51px;
  padding: 14px 20px 11px;
  border: 1px solid #00000033;
}

.contact-form__phone-email-container {
  margin-top: 20px;
  display: flex;
  column-gap: 20px;
}

.contact-form__phone-container,
.contact-form__email-container {
  width: 100%;
}

.contact-form__message-container {
  margin-top: 20px;
}

.contact-form__message-container > .contact-form__field {
  height: 150px;
}

.contact-form__checkbox-container {
  margin-top: 19px;
  margin-bottom: 17px;
  display: flex;
}

.contact-form__submit-button:disabled {
  opacity: 0.2;
}
@media (max-width: 1399px) {
  .contact-form__checkbox-container {
    margin-top: 23px;
  }
}
///////////////////////////////////////////////////////
@media (max-width: 767px) {
  .contact-form {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .contact-form__field {
    margin-top: 7px;
    padding: 12px 15px 11px;
    height: 46px;
  }
  .contact-form__phone-email-container {
    display: block;
    margin-top: 7px;
  }

  .contact-form__email-container {
    margin-top: 3px;
  }
  .contact-form__message-container {
    margin-top: 4px;
  }
  .contact-form__checkbox-container {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1399px) {
  .contact-form {
    padding-left: 53px;
    padding-right: 53px;
  }
}
