/* Стилизация footer*/
.footer {
  padding: 92px 0 110px 0;
  background-color: #434343;
  font-weight: 400;
  font-size: 16px;
  line-height: 37px;
}
.footer__menu {
  border-bottom: 1px #666666 solid;
  padding-bottom: 20px;
  margin-bottom: 18px;
}
.footer__menu,
.footer__info {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}
.navigation,
.footer__info-container {
  width: calc((100% - 2 * 20px) / 3);
}
.navigation__title {
  font-size: inherit;
  color: #aaaaaa;
  font-weight: inherit;
  padding-bottom: 17px;
  border-bottom: 1px #666666 solid;
  margin-bottom: 21px;
  margin-top: 0;
}

.navigation__link {
  color: #ffffff;
  transition: all 400ms;
  &:hover {
    opacity: 0.5;
  }
  &:visited {
    opacity: 0.2;
  }
}

.subscribe {
  display: flex;
}
.subscribe__field {
  width: 100%;
  padding-left: 15px;
  background-color: #666666;
  color: white;
  border: none;
  transition: all 400ms; /////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  &:hover,
  &:active,
  &:focus {
    border: 1px solid #fffdfd;
    border-radius: 1px;
    outline: none;
  }
}

.subscribe__field::-webkit-input-placeholder {
  color: white;
}
.subscribe__field::-moz-input-placeholder {
  color: white;
}

.social__list {
  display: flex;
}

.social__link {
  display: block;
  margin: 25px 10px 0 0;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  transition: all 400ms;
  &:hover {
    opacity: 0.5;
  }
  &:visited {
    opacity: 0.2;
  }
}

.social__facebook {
  background-image: url("../img/icons/facebook.svg");
}
.social__twitter {
  background-image: url("../img/icons/twitter.svg");
}
.social__pinterest {
  background-image: url("../img/icons/pinterest.svg");
}
.social__instagram {
  background-image: url("../img/icons/instagram.svg");
}

/* Звездный рейтинг */

.footer__info-container {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  column-gap: 3px;
  align-items: center;
  transition: all 400ms;

  &:hover .footer__rating-caption,
  &:focus-within .footer__rating-caption {
    color: #c29974;
  }
}

.rating {
  margin-left: 24px;
  position: relative;
  width: 93px;
  height: 13px;
  background: url("../img/icons/star.svg"), url("../img/icons/star.svg") 20px,
    url("../img/icons/star.svg") 40px, url("../img/icons/star.svg") 60px,
    url("../img/icons/star.svg") 80px;
  background-size: 13px auto;
  background-repeat: no-repeat;
}

.rating__star {
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 13px;
  background-size: 13px;
  background-repeat: no-repeat;
  transition: all 400ms;

  &:focus {
    outline: none;
  }
  &:checked {
    background: url("../img/icons/starChecked.svg"),
      url("../../img/icons/starChecked.svg") 20px,
      url("../img/icons/starChecked.svg") 40px,
      url("../img/icons/starChecked.svg") 60px,
      url("../img/icons/starChecked.svg") 80px;
    background-repeat: no-repeat;
  }
  &:hover {
    background: url("../img/icons/starHover.svg"),
      url("../img/icons/starHover.svg") 20px,
      url("../img/icons/starHover.svg") 40px,
      url("../img/icons/starHover.svg") 60px,
      url("../img/icons/starHover.svg") 80px;
    background-repeat: no-repeat;
  }
  &:hover ~ .rating__star {
    background: url("../img/icons/star.svg"), url("../img/icons/star.svg") 20px,
      url("../img/icons/star.svg") 40px, url("../img/icons/star.svg") 60px,
      url("../img/icons/star.svg") 80px;
    background-repeat: no-repeat;
  }

  &:nth-of-type(1) {
    width: 13px;
    z-index: 5;
  }
  &:nth-of-type(2) {
    width: 33px;
    z-index: 4;
  }
  &:nth-of-type(3) {
    width: 53px;
    z-index: 3;
  }
  &:nth-of-type(4) {
    width: 73px;
    z-index: 2;
  }
  &:nth-of-type(5) {
    width: 93px;
    z-index: 1;
  }
}

.footer__developer-link {
  color: #a2a2a2;
  transition: all 400ms;
  &:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}
