/* Стилизация header*/
.header {
  padding: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1180px;
}
.logo_link {
  display: flex;
  align-content: center;
}
.logo {
  display: block;
  margin-top: auto;
}
.header_wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
}

.nav {
}
.nav__list {
  margin-left: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 240px;
}
.nav__list_item {
  margin-right: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link {
  color: inherit;
}
.search_button {
  margin-left: auto;
  cursor: pointer;
}
.contact_us_link {
  margin-left: 19px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  word-spacing: 0.3em;
}

.logo:hover,
.nav__list_item:hover,
.search_button:hover,
.contact_us_link:hover {
  opacity: 0.5;
  fill-opacity: 0.5;
}

.logo:active,
.nav__list_item:active,
.search_button:active,
.contact_us_link:active {
  opacity: 0.5;
  fill-opacity: 0.2;
}
