/* Стилизация header*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
}
.header__content {
  padding: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
}
.header__logo-link {
  display: flex;
  align-content: center;
}
.header__logo {
  display: block;
  margin-top: auto;
}

.header__nav-list {
  margin-left: 58px;
  display: flex;
  min-width: 240px;
}
.header__list-item {
  margin-right: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.header__nav-link {
  color: inherit;
}
.header__search-button {
  margin-left: auto;
  cursor: pointer;
}
.header__contact-us-link {
  margin-left: 19px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  word-spacing: 0.3em;
}

.header {
  &__logo:hover,
  &__list-item:hover,
  &__search-button:hover,
  &__contact-us-link:hover {
    opacity: 0.5;
    fill-opacity: 0.5;
  }
  &__logo:active,
  &__list-item:active,
  &__search-button:active,
  &__contact-us-link:active {
    opacity: 0.5;
    fill-opacity: 0.2;
  }
}
