.product {
  padding: 0;
  position: relative;
  &:before {
    content: "Learn more";
    opacity: 0;
    width: 207px;
    height: 207px;
    position: absolute;
    z-index: 1;
    background-color: #e5eaf8;
    top: 18%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    line-height: 207px;
    text-transform: uppercase;
    transition: all 400ms;
  }

  &:hover:before {
    opacity: 0.9;
    cursor: pointer;
  }

  &:active:before {
    opacity: 0.67;
  }
}

.product__title {
  margin-top: 26px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  @media (max-width: 1399px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.product__price {
  margin-top: 15px;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  @media (max-width: 1399px) {
    margin-top: 7px;
  }
}

.product__link {
  display: none;
  width: 207px;
  height: 207px;
  position: absolute;
  z-index: 2;
  background-color: #e5eaf8;
  top: 18%;
  left: 50%;
  transform: translate(-50%, 0);
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .product__price {
    font-size: 12px;
    line-height: 16px;
  }
  .product__title {
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1399px) {
  .product__title {
    margin-top: 14px;
  }
  .product__price {
    font-size: 14px;
    line-height: 19px;
  }
}
@media (min-width: 1400px) {
}
