html {
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-base-family;
  height: 100%;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page_container {
  box-sizing: border-box;
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
.main {
  margin-top: 164px;
}

/* Шрифты */
.font-title {
  font-family: "Montserrat", "Arial Black", sans-serif;
  font-style: normal;
  margin: 0;
}
.font-content {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  line-height: 22px;
}
.font-decor {
  font-family: "Crimson Text", "Palatino", serif;
  font-style: italic;
}
.font-popup {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
}

* {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/* Стилизация главного заголовка страниц */
.main-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1e0606;
}
