@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/header";
@import "_blocks/footer";
@import "_blocks/checkbox";
@import "_blocks/contact-form";
@import "_blocks/page-nav";
@import "_blocks/product";
@import "_blocks/button";
@import "_blocks/breadcrump";
@import "_blocks/category";
/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/
.main {
  margin-top: 160px;
}

////////////////////////////////////////////////////////////////////
/////////////////////INDEX/////////start///////////////////////////
/// ////////////////////////////////////////////////////////////////

/* Стили баннера */
.banner {
  margin-top: 230px;
}

.banner__container {
  display: flex;
  background-color: #eee4db;
  padding: 17px 30px;
  position: relative;

  &::after {
    content: "";
    width: 56%;
    height: 131%;
    right: 89px;
    bottom: -30px;
    z-index: 0;
    background-image: url("/img/images/bannerMonster.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
  }
}

.banner__number {
  font-size: 60px;
  line-height: 73px;
  font-weight: 200;
  opacity: 5%;
}
.banner__change-buttons {
  padding-left: 0;
}

.banner__button {
  background-color: #d6cac2;
  height: 3px;
  width: 31px;
  display: block;
  border-width: 0;
  margin-top: 12px;
  margin-right: auto;
  margin-bottom: 11px;
  transition: all 400ms;
  &:hover {
    background: #725f5b;
    cursor: pointer;
  }
}

.banner__content {
  margin-left: 44px;
  margin-top: 69px;
  margin-bottom: 72px;
  width: 45%;
  z-index: 1;
}

.banner__title {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 110%;
  margin: 0;
  padding-top: 8px;
}

.banner__design-info {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.banner__footer {
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  background: #c29974;
  padding: 11px;
  margin: 0;
  position: relative;
  z-index: 1;
}

/* Стили Category products */

.category__scroll {
  display: flex;
  margin-top: 34px;
  max-width: 680px;
}
.category__btn-left,
.category__btn-right {
  display: block;
  box-sizing: border-box;
  width: 37px;
  height: 37px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(112, 187, 220, 0.2);
  border: 0;
}
.category__btn-left {
  background-image: url(../img/icons/btnLeft.svg);
}
.category__btn-right {
  background-image: url(../img/icons/btnRight.svg);
  margin-left: 6px;
  margin-right: 20px;
}
.category__btn-text {
  display: none;
}

.category__scroll-commentary {
  max-width: 580px;
}

/* Стили Сервисы */

.service {
  margin-top: 90px;
  display: flex;
}
.service__picture {
  width: 40%;
}
.service__img {
  width: 480px;
}
.service__info {
  padding: 32px 100px 57px 127px;
  width: 60%;
}

.service__title {
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
}
.service__list {
  margin-top: 6px;
}

/* Стилизация кнопок сервисов*/
.service__button {
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  width: 326px;
  height: 55px;
  text-align: start;
  border-width: 0;
  padding: 0;
  background-color: white;
  position: relative;
  transition: all 400ms;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -60px;
    transition: all 400ms;
  }
  &:hover:before {
    background-color: #70bbdc33;
  }
  &:focus {
    font-weight: 700;
  }
  &:focus:before {
    background-color: #70bbdc33;
  }
}

.service__text {
  margin-top: 20px;
  margin-bottom: 25px;
  & > p:nth-child(2) {
    margin-top: 15px;
  }
}

/* Стилизация секции партнеры*/

.parters__title {
  display: none;
}
.partners__list {
  margin-top: 88px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.partners__list-item {
  width: auto;
}

/* Стилизация секции с дополнительной информацией и картой*/

.supplement {
  margin: 111px 37px 156px 0;
  display: flex;
  column-gap: 57px;
  align-items: flex-start;
}
.supplement__article {
  padding: 0 30px 27px 30px;
  width: calc((100% - 57px) / 2);
  background: #e1f0f7;
}

.supplement__title {
  margin-top: -27px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 46px;
}
.supplement__notice {
  margin-top: 15px;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  text-transform: capitalize;
}
.supplement__text {
  margin-top: 10px;
  font-weight: 400;
  margin-bottom: 20px;
}

.supplement__contacts {
  width: calc((100% - 57px) / 2);
  padding: 0px 30px 0 30px;
  background: #e1f0f7;
}

.supplement__contacts-text {
  margin-top: 20px;
}

.supplement__map {
  margin-top: 30px;
  margin-bottom: -133px;
  width: 100%;
}

/* Стилизация Popup "Contact_us" */
.popup {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #7d97dacc;
  z-index: 9999;
}

.popup__wrapper {
  display: flex;
}

.popup__close {
  display: inline-block;
  margin-left: 10px;
  border: none;
  background: none;
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/crossExit.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 400ms;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.open-popup {
  display: flex;
}
////////////////////////////////////////////////////////////////////
/////////////////////INDEX/////////end///////////////////////////
////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////
/////////////////////BLOG/////////start///////////////////////////
////////////////////////////////////////////////////////////////////

.articles__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  margin-bottom: 54px;
}

.articles__list-item {
  width: calc((100% - 20px * 2) / 3);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1e0606;

  &:nth-child(n + 4) {
    margin-top: 34px;
  }
}

.articles__date {
  display: block;
  margin-top: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #818181;
}

.articles__title {
  margin: 7px 0 15px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px; /////////////////////////////////////////////////////////////////НЕ РАБОТАЕТ////////////////////////////////////////////////////
  &:hover {
    text-decoration: underline #1e0606;
    cursor: pointer;
    transition: all 400ms;
  }
}

////////////////////////////////////////////////////////////////////
/////////////////////BLOG/////////end///////////////////////////
////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////
/////////////////////CATALOG/////////start///////////////////////////
////////////////////////////////////////////////////////////////////

.catalog {
  margin-bottom: 55px;
}
.catalog__list {
  flex-wrap: wrap;
  width: 1080px;
}

.catalog__list-item {
  &:nth-child(6n + 3) {
    margin-right: 200px;
  }
  &:nth-child(6n + 4) {
    margin-left: 200px;
  }
  &:nth-child(n + 4) {
    margin-top: 23px;
  }
}

.catalog__description {
  padding: 0 300px 0 200px;
  margin-bottom: 55px;
}
.catalog__description-text {
  margin-top: 25px;
}
.catalog__description-text > p:nth-child(n + 2) {
  margin-top: 15px;
}

////////////////////////////////////////////////////////////////////
/////////////////////CATALOG/////////end///////////////////////////
////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////
/////////////////////CONTACT US/////////start///////////////////////////
////////////////////////////////////////////////////////////////////

.contact-us__wrapper {
  display: flex;
  margin-bottom: 50px;
}

.contact-us {
  margin-bottom: 57px;
}

.contact-us__title {
  word-spacing: 0.3em;
}

.contact-us__support-info {
  margin-left: 120px;
  & > p {
    margin-bottom: 20px;
  }
}

.contact-us__support-appeal {
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-transform: uppercase;
  color: #c29974;
}

////////////////////////////////////////////////////////////////////
/////////////////////CONTACT US/////////end///////////////////////////
////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////
/////////////////////TOYS/////////start///////////////////////////
////////////////////////////////////////////////////////////////////

/* //////////////Стилизация поле с фильтрами//////////// */

.filter {
  background-color: #7d97da33;
  padding: 39px 0;
}

.filter__wrapper {
  display: flex;
}

/* Слайдер */

.filter__slider-values {
  width: 207px;
  height: 89px;
}
.filter__cost-field {
  display: none;
  width: 202px;
}

.filter__cost-title {
  &:after {
    content: "";
    display: block;
    width: 207px;
    height: 24px;
    margin-top: 13px;
    margin-bottom: -11px;
    background-image: url("/img/icons/sliderPlug.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.filter__cost-values-container {
  display: flex;
  justify-content: space-between;
}

.filter__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
}

/* color selection */

.filter__color {
  margin-left: 94px;
}

.filter__color-item:nth-child(n + 2) {
  margin-top: 15px;
}

/* delivery radio */
.filter__delivery {
  margin-left: 124px;
}

.delivery-group__item {
  &:nth-child(n + 2) {
    margin-top: 10px;
  }
}

.delivery-group__input {
  display: none;

  &:checked ~ .delivery-group__name:before {
    background-image: url("../img/icons/radioChecked.png");
  }
}

.delivery-group__name {
  &:before {
    content: "";
    display: inline-block;
    vertical-align: sub;
    width: 20px;
    height: 20px;
    background-image: url("../img/icons/radio.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    transition: all 400ms;
  }
  &:hover {
    text-decoration: underline;
  }
}

/* amount radio */
.filter__amount {
  margin-left: 68px;
}

.amount-group {
  display: flex;
}

.amount-group__input {
  display: none;
  &:checked ~ .amount-group__text {
    background-color: #f3d0db;
  }
}

.amount-group__text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 80px;
  height: 35px;
  background-color: white;
  transition: all 400ms;

  &:hover {
    opacity: 0.5;
  }
  &:hover {
    background-color: #eddeeb;
  }
}

/* Filter button  */
.filter__button {
  margin-top: 37px;
  margin-left: 60px;
  height: 40px;
}

.filter__cost-field,
.checkbox__name,
.delivery-group__name,
.amount-group__text {
  cursor: pointer;
}

/* ////////////Стилизация секции с товарами///////// */

.toys-catalog {
  margin-top: 64px;
}
.toys-catalog__title {
  display: none;
}

.toys-catalog__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  margin-bottom: 74px;
}
.toys-catalog__list-item {
  width: calc((100% - 20px * 2) / 3);
  &:nth-child(n + 4) {
    margin-top: 46px;
  }
}

////////////////////////////////////////////////////////////////////
/////////////////////TOYS/////////end///////////////////////////
////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////
/////////////////////ANIMATION/////////start///////////////////////////
////////////////////////////////////////////////////////////////////

.animation {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.animation__town {
  margin-top: 8.3%;
  margin-bottom: 3.6%;
  width: 100%;
}

.animation__sun {
  position: absolute;
  top: 0.4%;
  right: 18.3%;
  width: 3.5%;
}
///////////////////////////////Анимации облаков///////////////////////////
.animation__cloud1 {
  position: absolute;
  top: 1.5%;
  left: 12.8%;
  width: 5.6%;
  animation: cloud1-moving 50s ease infinite alternate 1s;
}
@keyframes cloud1-moving {
  0% {
    left: 12.8%;
  }
  50% {
    left: 20.8%;
  }
  100% {
    left: 12.8%;
  }
}
.animation__cloud2 {
  position: absolute;
  top: 5.7%;
  left: 29.2%;
  width: 11.6%;
  animation: cloud2-moving 40s ease infinite alternate 1s;
}
@keyframes cloud2-moving {
  0% {
    left: 29.2%;
  }
  50% {
    left: 21.8%;
  }
  100% {
    left: 29.2%;
  }
}
.animation__cloud3 {
  position: absolute;
  top: 1.4%;
  left: 44.6%;
  width: 9.4%;
  animation: cloud3-moving 30s ease infinite alternate 1s;
}
@keyframes cloud3-moving {
  0% {
    left: 44.6%;
  }
  50% {
    left: 47.8%;
  }
  100% {
    left: 44.6%;
  }
}
.animation__cloud4 {
  position: absolute;
  top: 11.4%;
  left: 51.7%;
  width: 12%;
  animation: cloud4-moving 30s ease infinite alternate 1s;
}
@keyframes cloud4-moving {
  0% {
    left: 51.7%;
  }
  50% {
    left: 56.7%;
  }
  100% {
    left: 51.7%;
  }
}
.animation__cloud5 {
  position: absolute;
  top: 5.7%;
  left: 69.3%;
  width: 5.5%;
  animation: cloud5-moving 60s ease infinite alternate 1s;
}
@keyframes cloud5-moving {
  0% {
    left: 69.3%;
  }
  50% {
    left: 80.8%;
  }
  100% {
    left: 69.3%;
  }
}
.animation__cloud6 {
  position: absolute;
  top: 5.5%;
  left: 83.5%;
  width: 10%;
  animation: cloud6-moving 65s ease infinite alternate 1s;
}
@keyframes cloud6-moving {
  0% {
    left: 83%;
  }
  50% {
    left: 65.8%;
  }
  100% {
    left: 83%;
  }
}
////////////////////////////Машина 1//////////////////////////////////////////
.animation__car1 {
  position: absolute;
  // left: 4.6%; //макет
  left: -20%;
  top: 51.2%;
  width: 15%;
  z-index: 2;
  animation: car1-moving 5s linear infinite 1s;
}
@keyframes car1-moving {
  0% {
    left: -20%;
  }
  100% {
    left: 100%;
  }
}
.animation__car1-wheel-1,
.animation__car1-wheel-2 {
  top: 57.9%;
  width: 2.6%;
  z-index: 2;
}
.animation__car1-wheel-1 {
  position: absolute;
  // left: 15.6%; //макет
  left: -20%;
  animation: car1-wheel-1-moving 5s linear infinite 1s;
}
@keyframes car1-wheel-1-moving {
  0% {
    left: -9%;
    rotate: 0turn;
  }
  100% {
    left: 111%;
    rotate: 10turn;
  }
}
.animation__car1-wheel-2 {
  position: absolute;
  // left: 6.8%; //макет
  left: -20%;
  animation: car1-wheel-2-moving 5s linear infinite 1s;
}
@keyframes car1-wheel-2-moving {
  0% {
    left: -17.8%;
    rotate: 0turn;
  }
  100% {
    left: 102.2%;
    rotate: 10turn;
  }
}
////////////////////////////Машина 2//////////////////////////////////////////
.animation__car2 {
  position: absolute;
  top: 51.3%;
  // left: 27.5%; //макет
  left: -20%;
  width: 12.5%;
  z-index: 2;
  animation: car2-moving 3s linear infinite 3s;
}
@keyframes car2-moving {
  0% {
    left: -20%;
  }
  100% {
    left: 100%;
  }
}
.animation__car2-wheel-1,
.animation__car2-wheel-2 {
  top: 58.9%;
  width: 2%;
  z-index: 2;
}
.animation__car2-wheel-1 {
  position: absolute;
  // left: 36.9%; //макет
  left: -20%;
  animation: car2-wheel-1-moving 3s linear infinite 3s;
}
@keyframes car2-wheel-1-moving {
  0% {
    left: -10.6%;
    rotate: 0turn;
  }
  100% {
    left: 109.4%;
    rotate: 10turn;
  }
}
.animation__car2-wheel-2 {
  position: absolute;
  // left: 28.5%; //макет
  left: -20%;
  animation: car2-wheel-2-moving 3s linear infinite 3s;
}
@keyframes car2-wheel-2-moving {
  0% {
    left: -19%;
    rotate: 0turn;
  }
  100% {
    left: 101%;
    rotate: 10turn;
  }
}
////////////////////////////Машина 3//////////////////////////////////////////
.animation__car3 {
  position: absolute;
  // left: 45.5%; //макет
  left: -20%;
  top: 52.8%;
  width: 14.8%;
  animation: car3-moving 9s linear infinite 5s;
}
@keyframes car3-moving {
  0% {
    left: -20%;
  }
  100% {
    left: 100%;
  }
}
.animation__car3-wheel-1,
.animation__car3-wheel-2 {
  top: 57.3%;
  width: 1.7%;
  z-index: 1;
}
.animation__car3-wheel-1 {
  position: absolute;
  // left: 56.6%; //макет
  left: -20%;
  animation: car3-wheel-1-moving 9s linear infinite 5s;
}
@keyframes car3-wheel-1-moving {
  0% {
    left: -8.9%;
    rotate: 0turn;
  }
  100% {
    left: 111.1%;
    rotate: 10turn;
  }
}
.animation__car3-wheel-2 {
  position: absolute;
  // left: 48%; //макет
  left: -20%;
  animation: car3-wheel-2-moving 9s linear infinite 5s;
}
@keyframes car3-wheel-2-moving {
  0% {
    left: -17.5%;
    rotate: 0turn;
  }
  100% {
    left: 102.5%;
    rotate: 10turn;
  }
}
////////////////////////////Машина 4//////////////////////////////////////////
.animation__car4 {
  position: absolute;
  // left: 78.8%; //макет
  left: -20%;
  top: 49.5%;
  width: 16%;
  z-index: 2;
  animation: car4-moving 7s linear infinite 8s;
}
@keyframes car4-moving {
  0% {
    left: -20%;
  }
  100% {
    left: 100%;
  }
}
.animation__car4-wheel-1,
.animation__car4-wheel-2 {
  top: 58.9%;
  width: 2.8%;
  z-index: 2;
}
.animation__car4-wheel-1 {
  position: absolute;
  // left: 90.4%; //макет
  left: -20%;
  animation: car4-wheel-1-moving 7s linear infinite 8s;
}
@keyframes car4-wheel-1-moving {
  0% {
    left: -8.4%;
    rotate: 0turn;
  }
  100% {
    left: 111.6%;
    rotate: 10turn;
  }
}
.animation__car4-wheel-2 {
  position: absolute;
  // left: 81%; //макет
  left: -20%;
  animation: car4-wheel-2-moving 7s linear infinite 8s;
}
@keyframes car4-wheel-2-moving {
  0% {
    left: -17.8%;
    rotate: 0turn;
  }
  100% {
    left: 102.2%;
    rotate: 10turn;
  }
}
//////////////////////////////////////////////////////////

.animation__lantern {
  position: absolute;
  left: 34.3%;
  top: 20.8%;
  width: 9%;
  z-index: 4;
}
.animation__lantern2 {
  position: absolute;
  left: 86.3%;
  top: 21.1%;
  width: 9%;
  z-index: 4;
}
.animation__lantern-color {
  position: absolute;
  left: 69.5%;
  top: 19.6%;
  width: 12.9%;
  z-index: 9;
}

.animation__woman {
  position: absolute;
  left: 18.6%;
  top: 54.8%;
  width: 11.5%;
  z-index: 6;
}
.animation__skirt {
  position: absolute;
  left: 19.4%;
  top: 70.2%;
  width: 5.5%;
  z-index: 8;
}

.animation__man {
  position: absolute;
  left: 25.6%;
  top: 44.5%;
  width: 12.3%;
  z-index: 9;
}
/////////////////////////////// Облако собщений/////////////////////////
.animation__message-cloud-left,
.animation__message-cloud-right {
  position: relative;
  box-sizing: border-box;
  width: 172px;
  padding: 16px;
  font-size: 17px;
  line-height: 21px;
  background-color: #fff;
  border-radius: 13px;
  text-align: left;
  &::after {
    position: absolute;
    top: 80%;
    content: "";
    display: block;
    width: 42px;
    height: 42px;
    background-image: url("../img/icons/corner.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.animation__message-cloud-left {
  &::after {
    left: 60%;
  }
}
.animation__message-cloud-right {
  &::after {
    left: 15%;
  }
}

///////////////////////////Анимация///////////////////////////////////////////

////////////////////////////Действие 1 - сообщение женщины//////////////////////
.animation__message-1 {
  position: absolute;
  left: 13.4%;
  top: 42.3%;
  z-index: 9;
  visibility: hidden;
  animation: text1-appearing 12s linear infinite 4s;
}
@keyframes text1-appearing {
  0% {
    visibility: hidden;
  }
  10% {
    visibility: visible;
  }
  15% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
////////////////////////////Действие 2 - Поднимается рука женщины//////////////////////
.animation__woman-hand {
  position: absolute;
  left: 20.8%;
  top: 68.1%;
  width: 3.6%;
  z-index: 7;
  transform: rotate(360deg);
  transform-origin: 22% 19%;
  animation: woman-hand-moving 12s linear infinite 4s;
}
@keyframes woman-hand-moving {
  0% {
    transform: rotate(360deg);
  }
  10% {
    transform: rotate(303deg);
  }
  20% {
    transform: rotate(303deg);
  }
  35% {
    transform: rotate(360deg);
    z-index: 9;
  }
  80% {
    transform: rotate(360deg);
    z-index: 9;
  }
  82% {
    transform: rotate(355deg);
    z-index: 9;
  }
  84% {
    transform: rotate(360deg);
    z-index: 7;
  }
  100% {
    transform: rotate(360deg);
    z-index: 7;
  }
}
////////////////////////////Действие 3 - Поднимается рука мужчины//////////////////////
.animation__man-hand {
  position: absolute;
  left: 25.8%;
  top: 40.4%;
  width: 5%;
  z-index: 8;
  transform: rotate(153deg);
  transform-origin: 12% 90%;
  animation: man-hand-moving 12s linear infinite 6s;
}
@keyframes man-hand-moving {
  0% {
    transform: rotate(153deg);
  }
  10% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(153deg);
  }
  100% {
    transform: rotate(153deg);
  }
}
////////////////////////////Действие 4 - Сообщение мужчины//////////////////////
.animation__message-2 {
  position: absolute;
  left: 24.7%;
  top: 34.5%;
  z-index: 9;
  visibility: hidden;
  animation: text2-appearing 12s linear infinite 7s;
}
@keyframes text2-appearing {
  0% {
    visibility: hidden;
  }
  10% {
    visibility: visible;
  }
  15% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
////////////////////////////Действие 5 - Приезжает такси//////////////////////
.animation__taxi {
  position: absolute;
  // left: 41.2%; //макет
  top: 48.1%;
  width: 53.4%;
  z-index: 5;
  animation: taxi-moving 12s ease-in-out infinite 8s;
}
@keyframes taxi-moving {
  0% {
    left: 100%;
  }
  15% {
    left: 41.2%;
  }
  35% {
    left: 41.2%;
  }
  100% {
    left: -200%;
  }
}
.animation__taxi-wheel-1,
.animation__taxi-wheel-2 {
  top: 69.5%;
  width: 4%;
  z-index: 5;
}
.animation__taxi-wheel-1 {
  position: absolute;
  // left: 49.4%; //макет
  left: -20%;
  animation: taxi-wheel-1-moving 12s ease-in-out infinite 8s;
}
@keyframes taxi-wheel-1-moving {
  0% {
    left: 108.2%;
  }
  15% {
    left: 49.4%;
    rotate: -4turn;
  }
  35% {
    left: 49.4%;
    rotate: -4turn;
  }
  100% {
    left: -191.8%;
    rotate: -10turn;
  }
}
.animation__taxi-wheel-2 {
  position: absolute;
  // left: 80.4%; //макет
  left: -20%;
  animation: taxi-wheel-2-moving 12s ease-in-out infinite 8s;
}
@keyframes taxi-wheel-2-moving {
  0% {
    left: 139.2%;
  }
  15% {
    left: 80.4%;
    rotate: -4turn;
  }
  35% {
    left: 80.4%;
    rotate: -4turn;
  }
  100% {
    left: -160.8%;
    rotate: -10turn;
  }
}
////////////////////////////Действие 6 - Сообщение таксиста//////////////////////
.animation__message-3 {
  position: absolute;
  left: 60.5%;
  top: 42%;
  z-index: 9;
  visibility: hidden;
  animation: text3-appearing 12s linear infinite 10s;
}
@keyframes text3-appearing {
  0% {
    visibility: hidden;
  }
  10% {
    visibility: visible;
  }
  15% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
////////////////////////////Действие 7 - Сообщение мужчины//////////////////////
.animation__message-4 {
  position: absolute;
  left: 25%;
  top: 34.6%;
  z-index: 9;
  visibility: hidden;
  animation: text4-appearing 12s linear infinite 12s;
}
@keyframes text4-appearing {
  0% {
    visibility: hidden;
  }
  10% {
    visibility: visible;
  }
  15% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
