<footer class="footer">
  <div class="page-container">
    <nav class="footer__menu">
      <div class="navigation">
        <h2 class="navigation__title">Navigation</h2>
        <ul class="navigation__list">
          <li class="navigation__list-item">
            <a href="#" class="navigation__link">About us</a>
          </li>
          <li class="navigation__list-item">
            <a href="../blog.html" class="navigation__link">Blog</a>
          </li>
          <li class="navigation__list-item">
            <a href="#" class="navigation__link">Design Services</a>
          </li>
          <li class="navigation__list-item">
            <a href="#" class="navigation__link">Featured On</a>
          </li>
          <li class="navigation__list-item">
            <a href="../toys.html" class="navigation__link"
              >2018 Holiday Catalog</a
            >
          </li>
          <li class="navigation__list-item">
            <a href="#" class="navigation__link">Shop By Designer</a>
          </li>
        </ul>
      </div>
      <div class="navigation">
        <h2 class="navigation__title">Custumer Information</h2>
        <ul class="navigation__list">
          <li class="navigation__list-item">
            <a href="./contactUs.html" class="navigation__link">Contact Us</a>
          </li>
          <li class="navigation__list-item">
            <a href="#" class="navigation__link">Sale Exclusions</a>
          </li>
          <li class="navigation__list-item">
            <a href="#" class="navigation__link">Shippings & Returns</a>
          </li>
          <li class="navigation__list-item">
            <a href="#" class="navigation__link">Terms & Conditions</a>
          </li>
          <li class="navigation__list-item">
            <a href="#" class="navigation__link">Privacy Policy</a>
          </li>
          <li class="navigation__list-item">
            <a href="#" class="navigation__link">Search</a>
          </li>
        </ul>
      </div>
      <div class="navigation">
        <h2 class="navigation__title">Connect</h2>
        <form class="subscribe">
          <input
            type="email"
            class="subscribe__field"
            placeholder="Email"
            required
          />
          <button class="button">Join</button>
        </form>
        <div class="social">
          <ul class="social__list">
            <li class="social__item">
              <a
                href="https://facebook.com"
                class="social__link social__facebook"
                ><span class="hidden-item">Facebook</span></a
              >
            </li>
            <li class="social__item">
              <a href="https://twitter.com" class="social__link social__twitter"
                ><span class="hidden-item">Twitter</span></a
              >
            </li>
            <li class="social__item">
              <a
                href="https://www.pinterest.com"
                class="social__link social__pinterest"
                ><span class="hidden-item">Pinterest</span></a
              >
            </li>
            <li class="social__item">
              <a
                href="http://instagram.com"
                class="social__link social__instagram"
                ><span class="hidden-item">Instagram</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="footer__info">
      <fieldset class="footer__info-container">
        <span class="footer__rating-caption navigation__link">
          Company Rating
        </span>
        <div class="rating">
          <input
            class="rating__star"
            type="radio"
            id="star-1"
            name="rating"
            value="1"
            aria-label="Очень плохо"
            tabindex="0"
          />
          <input
            class="rating__star"
            type="radio"
            id="star-2"
            name="rating"
            value="2"
            aria-label="Бывало и лучше"
            tabindex="0"
          />
          <input
            class="rating__star"
            type="radio"
            id="star-3"
            name="rating"
            value="1"
            aria-label="Сойдёт"
            tabindex="0"
          />
          <input
            class="rating__star"
            type="radio"
            id="star-4"
            name="rating"
            value="2"
            aria-label="Ну нормально"
            tabindex="0"
          />
          <input
            class="rating__star"
            type="radio"
            id="star-5"
            name="rating"
            value="2"
            aria-label="Превосходно"
            tabindex="0"
          />
        </div>
      </fieldset>
      <div class="footer__info-container navigation__link">
        <p>Copyright © 2018 Dlk • Design Life Kids</p>
      </div>
      <div class="footer__info-container">
        <a href="https://directline.digital/" class="footer__developer-link"
          >Web Design — Direct Line Development</a
        >
      </div>
    </div>
  </div>
</footer>
